.blog-section{
    margin-bottom: 20px;
}
.all_blogs{
    display: flex;
    align-items: start;
    margin-top: 30px;
    color: rgb(204, 204, 204);
    min-height: 200px;
    padding: 20px;
    box-shadow: 0 0 5px aqua;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.blog-img{
    display: flex;
    width: 200px;
    height: 275px;
    align-items: center;
    justify-content: center;
}
.blog-img > img{
    height: 150px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.all-blog-details {
    width: 100%;
    padding-left: 25px;
}
.all-blog-details > span{
    color: orangered;
}

.all-blog-details > .identity{
    display: flex;
    margin-top: 10px;
}
.all-blog-details > .identity > img{
    height: 50px;
    width: 50px;
    border-radius: 100px;
    border: 3px solid rgb(223, 223, 223);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.all-blog-details > .identity > div{
    padding-left: 10px;
}
.all-blog-details > .identity > div > h6{
    margin: 0%;
}
.all-blog-details > nav > details > div > ul > li{
    margin-left: -20px;
}
.all-blog-details > nav > details > div > ul > li > i{
    margin-right: 10px;
    color: orangered;
}
.SeeMore-btn{
    outline: none;
    color: beige;
    padding: 0 5px 0 5px;
    background-color: transparent;
    border: 1px solid beige;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.blog-footer{
    display: flex;
    margin-top: 20px;
    margin-bottom: -15px;
}
.blog-footer > p{
    font-size: 17px;
    padding: 10px 15px 0 0;
}
.blog-footer > p > i{
    cursor: pointer;
}
.blog-footer > p > span{
    color: orange;
    padding-left: 3px;
}


.blog-social{
    padding: 10px 0 0 50px;
}
.blog-social > a{
    padding-left: 15px;
    color: beige;
    font-size: 17px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.blog-social > a:hover{
    color: orangered;
}
.blog-social > a > i{
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}
.blog-social > a > i:hover{
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}



@media (max-width:768px){
    .all_blogs{
        flex-direction: column;
    }
    .blog-img{
        width: 100%;
        height: 100%;
        margin-bottom: 30px;
        justify-content: center;
    }
    .blog-img > img{
        height: 100px;
    }
}
@media (max-width:992px){
    .blog-section{
        margin-top: 130px;
    }
}