.accordion-button{
    color: #ffffff !important;
    background: #334155 !important;
}
.faq-box{
    max-width: 1000px;
}
@media (max-width: 768px){
    .faq-box{
        width: 100%;
    }
}