*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
img{
    cursor: pointer;
}
/* ------------ progress bar start  --------------- */
.progress {
    height: 5px;
    width: 5%;
    background-color: #ff03d5;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 99;
    animation: progress 1s linear;
    -webkit-animation: progress 1s linear;
}
@keyframes progress {
  to {
    background-color: rgb(0, 251, 255);
    width: 100%;
  }
}
:root * { 
    animation-play-state: paused; 
    animation-delay: calc(var(--scroll) * -1s); 
    animation-iteration-count: 1; 
    animation-fill-mode: both; 
    -webkit-animation-fill-mode:both;
}
/* ------------- progress bar end  --------------*/


/* ---- navbar menu section start ----- */
header{
    top: 0%;
    width: 100%;
    position: sticky;
}
.sticky{
    z-index: 2;
    align-items: center;
    box-shadow: 0 0 2px rgb(0, 197, 214);
}
.navbar-brand img{
    height: 60px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.navbar-toggler{
    height: 35px;
    width: 35px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    background-color: #CCD6F6;
}
.navbar-toggler img{
    height: 30px;
    width: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.nav-item{
    min-width: 138px;
    padding-right: 0px;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.nav-link{
    font-weight: 600;
    color: #CCD6F6;
    position: relative;
    transition: all .3s ease-in-out;
    font-family:'Courier New', Courier, monospace;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.nav-link:hover{
    color: rgb(0, 255, 242);
}
.activeted{
    color: rgb(0, 255, 242);
}
.activeted::after{
    content: '';
    width: 100%;
    height: 3px;
    left: 0%;
    position: absolute;
    bottom: 8px;
    background-color: #05C789 ;
    border: none;
    transition: all .5s ease-in-out;
    -webkit-transition: all ;
    -moz-transition: all ;
    -ms-transition: all ;
    -o-transition: all ;
}
.activeted::before{
    content: '';
    width: 100%;
    height: 3px;
    right: 0%;
    position: absolute;
    bottom: 8px;
    background-color: #05C789;
    transition: all .5s ease-in-out;
    -webkit-transition: all ;
    -moz-transition: all ;
    -ms-transition: all ;
    -o-transition: all ;
}
.login-and-theme > img{
    height: 20px;
    margin-top: -10px;
    margin-right: 10px;
}
.authentication-btn{
    margin-top: 0px !important;
}
/* ---- navbar menu section end ----- */


/* --------------------------------------------------
------------ responsive section start -----------------
--------------------------------------------------- */
@media (max-width:992px){
    .navbar-brand{
        padding-left: 10px;
    }
    .brand-name{
        display: none;
    }
    .navbar-toggler{
        top: 3.5%;
        right: 2%;
        position: fixed;
    }
    .login-and-theme{
        top: 2.2%;
        right: 15%;
        position: fixed;
        padding-bottom: 12px;
    }
    .navbar-nav{
        background-color: #38383c;
    }
    .nav-item{
        cursor: pointer;
        animation: border 5s linear infinite;
        -webkit-animation: border 5s linear infinite;
    }
    .nav-link{
        width: 200px;
        text-align: center;
    }
    .nav-link:hover{
        padding:8px 10px 8px 10px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .padd_link_1{
        padding-right: 25px;
    }
    .padd_link{
        padding-right: 50px;
    }
    .notifications_Aria{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
/* --------------------------------------------------
------------ responsive section end -----------------
--------------------------------------------------- */