.testimonial_section{
  margin-top: 100px;
  overflow: hidden;
}
.testimonial_aria{
  margin-top:20px;
  padding: 0px 0 35px 0px;
}
.testimonial_box{
  height: auto;
  max-width: 400px;
  cursor: pointer;
  color: #05C789;
  background-color: #334155;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
.testimonial_img{
  width: 100%;
  display: flex;
  min-height: 150px;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 50px;
  background-color: #222c39;
}
.testimonial_img > img{
  width: 100px;
  height: 100px;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.testimonial_Text{
  padding: 10px;
}
.testimonial_Text h2{
  font-size: 30px;
  color: transparent;
  text-align: center;
  -webkit-text-stroke: 1px orange;
}
.testimonial_Text h3{
  font-size: 25px;
  color: #05C789;
  text-align: center;
}
.testimonial_Text p{
  font-size: 15px;
  color: #05C789;
  text-align: center;
}



@media (max-width: 1400px){
  .testimonial_box{
    max-width: 350px;
  }
}
@media (max-width: 1200px){
  .testimonial_box{
    max-width: 300px;
  }
}
@media (max-width: 768px){
  .testimonial_section{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .testimonial_aria{
    margin-top: 30px;
  }
}
