.technology-btn{
    border: none;
    outline: none;
    padding: 10px;
    margin: 5px 10px 5px 0;
    height: 30px;
    font-size: 17px;
    letter-spacing: 1px;
    color: #05C789;
    background-color: #334155;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
    transform: scale(1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.technology-btn:hover{
    color: beige;
    background-color: orangered;
}
.check-mark{
    color: orangered;
}
.project-social-icons{
    margin: 10px;
    font-size: 30px;
    padding: 5px;
    color: #05C789;
    background-color: #334155;
    transition: all .3s ease;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.project-social-icons:hover{
    color: #ffffff;
    background-color: orangered;
}
.project-images{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
}
.project-images > img{
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}